<div class="banner-dashboard no-border">
  <% if current_user.photo.attached? %>
    <%= cl_image_tag current_user.photo.key, alt: "Photo de profil #{current_user.last_name} #{current_user.first_name}", class: "img-profil" %>
  <% else %>
    <%= image_tag 'user_default.png', alt: "#{current_user.first_name} #{current_user.last_name}", class: "img-profil" %>
  <% end %>

  <br>
  <div class="banner-texts">
    <%= link_to edit_user_registration_path do %>
    <div class="profile-element">
    <h2 class="h2-bold"><%= current_user.first_name %> <%= current_user.last_name %></h2>
    <i class="fa-solid fa-pen edit-pen"></i>
    </div>
    <% end %>
    <%= link_to destroy_user_session_path, data: { "turbo-method": :delete } do %>
      <p class="p-light underline">Se déconnecter</p>
    <% end %>
  </div>
</div>

<div class="filtre-dashboard">
  <%= link_to 'Mes résas', dashboard_path(section: 'reservations'), class: "tag-filtre #{'tag-active' if @section == 'reservations'} #{'tag-filtre' unless @section == 'reservations'}" %>
  <%= link_to 'J\'organise', dashboard_path(section: 'organiser'), class: "tag-filtre #{'tag-active' if @section == 'organiser'} #{'tag-filtre' unless @section == 'organiser'}" %>
</div>

<div>
  <% if @section == 'organiser' %>
    <% if @meals.present? %>
    <h3>Mes repas à venir</h3>
      <div class="cards-taste-organiser">
        <% @meals.each do |meal| %>
          <% if meal.present? %>
          <%= link_to dashboard_show_path(section: 'organiser', id: meal.id) do%>
            <div class="cards-organiser">
              <div class="cards-content-organiser">
                <div class="card-text">
                  <p class="p-bold"><%= meal.title %></p>
                  <p class="p-normal"><%= truncate(meal.description, length: 30, separator: ' ') %></p>
                </div>
                <div class="card-infos">
                  <p class="p-bold">📅 <%= meal.date.strftime("%-d %b").downcase + "." %></p>
                  <p class="p-bold">💸 <%= number_to_currency(meal.price_per_person, unit: "€", precision: 0, format: "%n%u") %></p>
                  <p class="p-bold">🧍‍♂️<%= meal.maximum_guests %></p>
                </div>

              <p><%= link_to "Voir le Quiz !",view_quiz_path(meal.id), class:"p-quiz-dispo" %></p>


              </div>
              <div class="cards-img-organiser">
                <% if !meal.questions_exist? %>
                    <%= link_to generate_quiz_path(meal.id),
                        data: { turbo_method: :post } do %>
                        <div class="tag">
                          <%= image_tag 'quiz.png', alt: "Quiz icon", class: "tag-quiz" %>
                        </div>
                        <% end %>
                  <% end %>
                <% if meal.photo.attached? %>
                  <%= cl_image_tag meal.photo.key, alt: "Photo du repas #{meal.title}", class: "card-img-organiser img-quiz" %>
                <% else %>
                  <%= image_tag 'pas_photo.png', alt: "#{current_user.first_name} #{current_user.last_name}", class: "card-img-organiser img-quiz" %>
                <% end %>
              </div>
            </div>
            <% end %>
            <br>
          <% end %>
        <% end %>
      </div>
    <% else %>
    <%= link_to new_meal_path do%>
      <div class="card-nomeal">
          <p class="title-nomeal">À ton tour d'organiser !</p>
          <%= image_tag 'poster-repas.webp', alt: "Photo du repas", class: "card-nomeal-img" %>
      </div>
    <%end%>
    <% end %>
  <% else %>
    <% if @bookings.present? %>
    <h3>Mes réservations à venir</h3>
      <div class="cards-taste">
        <% @bookings.each do |booking| %>
          <% if booking.present? %>
            <%= link_to dashboard_show_path(section: 'reservations', id: booking.id) do%>
            <div class="cards">
              <div class="cards-content">
                <div class="card-text">
                  <p class="p-bold"><%= booking.meal.title%></p>
                  <p class="p-normal"><%= truncate(booking.meal.description, length: 30, separator: ' ') %></p>
                </div>
                <div class="card-infos">
                  <p class="p-bold">📅 <%= booking.meal.date.strftime("%-d %b").downcase + "." %></p>
                  <p class="p-bold">💸 <%= number_to_currency(booking.meal.price_per_person, unit: "€", precision: 0, format: "%n%u") %></p>
                  <p class="p-bold">🧍‍♂️<%= booking.meal.maximum_guests %></p>
                </div>
              </div>
              <div class="cards-img">
                <% if booking.meal.photo.attached? %>
                  <%= cl_image_tag booking.meal.photo.key, alt: "Photo de la réservation #{booking.id}", class: "img-meal" %>
                <% else %>
                  <p>Aucune photo disponible pour cette réservation</p>
                <% end %>
              </div>
            </div>
            <% end %>
            <br>
          <% end %>
        <% end %>
      </div>
    <% else %>
    <%= link_to root_path do%>
      <div class="card-nomeal">
          <p class="title-nomeal">Participes à un repas !</p>
          <%= image_tag 'rejoindre-repas.webp', alt: "Photo du repas", class: "card-nomeal-img" %>
      </div>
    <%end%>
    <% end %>
  <% end %>

  <% if @section == 'organiser' %>
    <% if @meals_pasts.present? %>
      <h3>Mes repas passés</h3>
      <div class="cards-taste">
        <% @meals_pasts.each do |meal| %>
          <% if meal.present? %>
            <div class="cards">
              <div class="cards-content">
                <div class="card-text">
                  <%= link_to 'Détail de la card', dashboard_show_path(section: 'organiser', id: meal.id) %>
                  <p class="p-bold"><%= meal.title %></p>
                  <p class="p-normal"><%= truncate(meal.description, length: 30, separator: ' ') %></p>
                </div>
                <div class="card-infos">
                  <p class="p-bold">📅 <%= meal.date.strftime("%-d %b").downcase + "." %></p>
                  <p class="p-bold">💸 <%= number_to_currency(meal.price_per_person, unit: "€", precision: 0, format: "%n%u") %></p>
                  <p class="p-bold">🧍‍♂️<%= meal.maximum_guests %></p>
                </div>
              </div>
              <div class="cards-img">
                <% if meal.photo.attached? %>
                  <%= cl_image_tag meal.photo.key, alt: "Photo du repas #{meal.title}", class: "card-img" %>
                <% else %>
                  <p>Aucune photo disponible pour ce repas</p>
                <% end %>
                <% if meal.date.to_date == Date.today && meal.heure >= Time.now.strftime("%H:%M") %>
                  <% if !meal.questions_exist? %>
                    <%= link_to "Generate quiz", generate_quiz_path(meal.id),
                        data: { turbo_method: :post },
                        class: "btn btn-dark" %>
                  <% end %>
                <% end %>
              </div>
            </div>
            <br>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <% if @bookings_pasts.present? %>
      <h3>Mes réservations passées</h3>
      <div class="cards-taste">
        <% @bookings_pasts.each do |booking| %>
          <% if booking.present? %>
            <div class="cards">
              <div class="cards-content">
                <div class="card-text">
                 <%= link_to 'Détail de la card', dashboard_show_path(section: 'reservations', id: booking.id) %>
                  <p class="p-bold"><%= booking.meal.title%></p>
                  <p class="p-normal"><%= truncate(booking.meal.description, length: 30, separator: ' ') %></p>
                </div>
                <div class="card-infos">
                  <p class="p-bold">📅 <%= booking.meal.date.strftime("%-d %b").downcase + "." %></p>
                  <p class="p-bold">💸 <%= number_to_currency(booking.meal.price_per_person, unit: "€", precision: 0, format: "%n%u") %></p>
                  <p class="p-bold">🧍‍♂️<%= booking.meal.maximum_guests %></p>
                </div>
              </div>
              <div class="cards-img">
                <% if booking.meal.photo.attached? %>
                  <%= cl_image_tag booking.meal.photo.key, alt: "Photo de la réservation #{booking.id}", class: "img-meal" %>
                <% else %>
                  <p>Aucune photo disponible pour ce repas</p>
                <% end %>
              </div>
            </div>
            <br>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
