<div>
  <%= current_user.photo %>
  <br>
  <h2><%= current_user.first_name %> <%= current_user.last_name %></h2>
</div>

<div>
  <%= link_to 'Hots', dashboard_path(section: 'organiser'), class: "btn #{'btn-primary' if @section == 'organiser'} #{'btn-info' unless @section == 'organiser'}" %>
  <%= link_to 'Guest', dashboard_path(section: 'reservations'), class: "btn #{'btn-primary' if @section == 'reservations'} #{'btn-info' unless @section == 'reservations'}" %>
</div>


<div>
  <% if @section == 'organiser' %>
          <div class="meal-card">
            <% if meal.photo.attached? %>
              <%= cl_image_tag meal.photo.key, alt: "Photo du repas #{meal.title}", class: "img-meal" %>
            <% else %>
              <p>Aucune photo disponible pour ce repas</p>
            <% end %>
            <h4><%= meal.title %></h4>
            <p><%= @meal.date.strftime('%d %b à %Hh') %></p>
            <p class="p-light"> <%= @preference.preference_type%> </p>
            <p><%= meal.description %></p>
            <p><%= meal.maximum_guests %></p>
            <div class="banner-hote no-border">
      <%= image_tag "japon.png", alt: "photo du repas", class: "img-hote" %>
        <div class="banner-hote no-border">
          <%= image_tag "japon.png", alt: "photo du repas", class: "img-hote" %>
          <div class="img-hote" %>
            <p class="p-bold"><%= current_user %></p>
          </div>
          <div class="img-guests">
             <p class="p-bold">Invités:</p>
          <% meal.guests.each do |guest| %>
            <p><%= guest.name %></p>
          </div>
        </div>
            <p><%= meal.location %></p>
          </div>
          <br>
  <% else %>   <%# @section == 'reservations' %>
          <div class="meal-card">
            <% if booking.photos.attached? %>
              <%= cl_image_tag booking.meal.photo.key, alt: "Photo de la réservation #{booking.id}", class: "img-meal" %>
            <% else %>
              <p>Aucune photo(s) disponible pour cette réservation</p>
            <% end %>
            <h4><%= booking.meal.title %></h4>
            <p><%= booking.meal.date.strftime('%d %b à %Hh') %></p>
            <p><%= booking.meal.description %></p>
            <p><%= booking.meal.maximum_guests %></p>
            <p><%= booking.meal.location %></p>
          </div>
          <br>
  <% end %>




<% if @section == 'organiser'%>
          <div class="meal-card">
            <h4><%= meal.title %></h4>
            <p><%= meal.description %></p>
            <p><%= meal.date %></p>
            <p><%= meal.price_per_person %>€</p>
            <p><%= meal.maximum_guests %></p>
            <% if meal.photo.attached? %>
              <%= cl_image_tag meal.photo.key, alt: "Photo du repas #{meal.title}", class: "img-meal" %>
            <% else %>
              <p>Aucune photo disponible pour ce repas</p>
            <% end %>
            <p><%= meal.location %></p>
          </div>
          <br>
  <% else %>   <%# @section == 'reservations' %>
          <div class="meal-card">
            <h4><%= booking.meal.title %></h4>
            <p><%= booking.meal.description %></p>
            <p><%= booking.meal.date %></p>
            <p><%= booking.meal.price_per_person %>€</p>
            <p><%= booking.meal.maximum_guests %></p>
            <% if booking.photos.attached? %>
              <%= cl_image_tag booking.photos.first.key, alt: "Photo de la réservation #{booking.id}", class: "img-meal" %>
            <% else %>
              <p>Aucune photo(s) disponible pour cette réservation</p>
            <% end %>
            <p><%= booking.meal.location %></p>
            <p><%= booking.status %></p>
          </div>
          <br>
  <% end %>
</div>

<div>
  <% if @section == 'organiser' %>``
          <div class="meal-card">
            <h4><%= meal.title %></h4>
            <p><%= meal.description %></p>
            <p><%= meal.date %></p>
            <p><%= meal.price_per_person %>€</p>
            <p><%= meal.maximum_guests %></p>
            <% if meal.photo.attached? %>
              <%= cl_image_tag meal.photo.key, alt: "Photo du repas #{meal.title}", class: "img-meal" %>
            <% else %>
              <p>Aucune photo disponible pour ce repas</p>
            <% end %>
            <p><%= meal.location %></p>
            <%# <% if meal.date.to_date == Date.today && meal.heure >= Time.now.strftime("%H:%M") %>
            <%# <% end %>
          </div>
          <br>
  <% else %>   <%# @section == 'reservations' %>
          <div class="meal-card">
            <h4><%= booking.meal.title %></h4>
            <p><%= booking.meal.description %></p>
            <p><%= booking.meal.date %></p>
            <p><%= booking.meal.price_per_person %>€</p>
            <p><%= booking.meal.maximum_guests %></p>
            <% if booking.photos.attached? %>
              <%= cl_image_tag booking.photos.first.key, alt: "Photo de la réservation #{booking.id}", class: "img-meal" %>
            <% else %>
              <p>Aucune photo(s) disponible pour cette réservation</p>
            <% end %>
            <p><%= booking.meal.location %></p>
            <p><%= booking.status %></p>
          </div>
          <br>
  <% end %>

  <% if @section == 'organiser'%>
    <h3>Mes repas passés</h3>
          <div class="meal-card">
            <h4><%= meal.title %></h4>
            <p><%= meal.description %></p>
            <p><%= meal.date %></p>
            <p><%= meal.price_per_person %>€</p>
            <p><%= meal.maximum_guests %></p>
            <% if meal.photo.attached? %>
              <%= cl_image_tag meal.photo.key, alt: "Photo du repas #{meal.title}", class: "img-meal" %>
            <% else %>
              <p>Aucune photo disponible pour ce repas</p>
            <% end %>
            <p><%= meal.location %></p>
          </div>
          <br>
  <% else %>   <%# @section == 'reservations' %>
    <h3>Mes réservations passées</h3>
          <div class="meal-card">
            <h4><%= booking.meal.title %></h4>
            <p><%= booking.meal.description %></p>
            <p><%= booking.meal.date %></p>
            <p><%= booking.meal.price_per_person %>€</p>
            <p><%= booking.meal.maximum_guests %></p>
            <% if booking.photos.attached? %>
              <%= cl_image_tag booking.photos.first.key, alt: "Photo de la réservation #{booking.id}", class: "img-meal" %>
            <% else %>
              <p>Aucune photo(s) disponible pour cette réservation</p>
            <% end %>
            <p><%= booking.meal.location %></p>
            <p><%= booking.status %></p>
          </div>
          <br>
  <% end %>
</div>
