<div class="header-show-meal">


  <% if @section == 'organiser' %>
      <%= link_to dashboard_path(section: 'organiser') do%>
         <i class="fa-solid fa-arrow-right fa-rotate-180 return-meal"></i>
        <% if @meal.photo.attached? %>
           <%= cl_image_tag @meal.photo.key, alt: "Photo du repas #{@meal.title}", class: "img-meal-show" %>
        <% else %>
         <%= image_tag 'pas_photo.png', alt: "Photo du repas", class: "img-meal-show" %>
        <%end%>
      <%end%>
  <% else %>
      <%= link_to dashboard_path(section: 'reservations') do%>
      <i class="fa-solid fa-arrow-right fa-rotate-180 return-meal"></i>
      <% if @meal.photo.attached? %>
        <%= cl_image_tag @meal.photo.key, alt: "Photo du repas #{@meal.title}", class: "img-meal-show" %>
      <% else %>
        <%= image_tag 'pas_photo.png', alt: "Photo du repas", class: "img-meal-show" %>
      <% end %>
    <%end%>
  <%end%>
</div>

<div>
  <% if @section == 'organiser' %>
    <div class="meal">
      <h1 class="heading-1 meal-heading"><%= @meal.title %></h1>
      <h2><%= "#{@meal.date.strftime('%d/%m/%Y')} à #{@meal.heure.strftime('%Hh%M')}" %></h2>
      <div class="banner-meal no-border">
        <div class="element-banner-meal">
           <i class="fa-solid fa-bowl-food icon-banner-show"></i>
          <p class="p-light">
            <% diet_preference = @meal.user.diet_preference %>
            <% if diet_preference.present? %>
              <%= diet_preference.name %>
            <% else %>
              Aucune préférence trouvée.
            <% end %>
          </p>
        </div>
        <div class="element-banner-meal element-gap">
          <i class="fa-solid fa-lightbulb icon-banner-show"></i>
          <p class="p-light"><%= @meal.inspiration %></p>
        </div>
        <div class="element-banner-meal element-gap">
          <i class="fa-regular fa-clock icon-banner-show"></i>
          <p class="p-light"><%= @meal.duration %> heures</p>
        </div>
      </div>
      <div class="texts-meal">
        <p class="p-bold margin-element-meal-heading"><%= @meal.description %></p>
        <p class="p-bold margin-element-meal">🧍‍♂️<%= @meal.maximum_guests %> personnes</p>
        <p class="p-bold margin-element-meal">🍽️ <%= @meal.dishes.count %> plats</p>
      </div>
      <div class="memo-show no-border">
        <h2>Histoire et culture</h2>
        <% if @meal.questions_exist? %>
          <% @meal.dishes.each do |dish| %>
            <div>
              <b><%= dish.name %></b><br>
              <i><%= dish.memo %></i>
            </div>
            <br>
          <% end %>
        <% else %>
          <p>Tu devras d'abord lancer le quiz avant de partager aux participants l'histoire et la culture des plats !</p>
        <% end %>
      </div>
      <div>
      <%if @participants.present?%>
      <h2>Personnes présentes</h2>
        <% @participants.each do |participant| %>
          <% if participant.photo.attached? %>
            <%= image_tag url_for(participant.photo), alt: "Photo de #{participant.first_name} #{participant.last_name}", class: "img-hote" %>
          <% else %>
            <%= image_tag 'user_default.png', alt: "#{participant.first_name} #{participant.last_name}", class: "img-hote" %>
          <% end %>
        <% end %>
      <% else %>
      <%end%>
      </div>
      <div class="section-localisation">
        <h2>Localisation</h2>
        <div>
        <!-- Map -->
        <div style="width: 100%; height: 400px; border-radius:20px;"
              data-controller="map"
              data-map-marker-value="<%= @marker.to_json %>"
              data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
    </div>
  <% else %>   <%# @section == 'reservations' %>
  <div class="meal">
      <h1 class="heading-1 meal-heading"><%= @meal.title %></h1>
      <h2><%= "#{@meal.date.strftime('%d/%m/%Y')} à #{@meal.heure.strftime('%Hh%M')}" %></h2>
      <div class="banner-meal no-border">
        <div class="element-banner-meal">
          <i class="fa-solid fa-bowl-food icon-banner-show"></i>
          <p class="p-light">
            <% diet_preference = @meal.user.diet_preference %>
            <% if diet_preference.present? %>
              <%= diet_preference.name %>
            <% else %>
              Aucune préférence trouvée.
            <% end %>
          </p>
        </div>
        <div class="element-banner-meal element-gap">
          <i class="fa-solid fa-lightbulb icon-banner-show"></i>
          <p class="p-light"><%= @meal.inspiration %></p>
        </div>
        <div class="element-banner-meal element-gap">
          <i class="fa-regular fa-clock icon-banner-show"></i>
          <p class="p-light"><%= @meal.duration %>hrs</p>
        </div>
      </div>
      <div class="texts-meal">
        <p class="p-bold margin-element-meal-heading"><%= @meal.description %></p>
        <p class="p-bold margin-element-meal">🧍‍♂️<%= @meal.maximum_guests %> personnes</p>
        <p class="p-bold margin-element-meal">🍽️ <%= @meal.dishes.count %> plats</p>
      </div>
      <div class="memo-show no-border">
        <h2>Histoire et culture</h2>
        <% if @meal.questions_exist? %>  <!-- Vérifie s'il y a des plats associés au repas -->
          <% @meal.dishes.each do |dish| %>
            <div>
              <b><%= dish.name %></b><br>
              <i><%= dish.memo %></i>
            </div>
            <br>
          <% end %>
        <% else %>  <!-- Si aucun plat n'est associé au repas -->
          <p>Tu devras d'abord participer au quiz avant de connaître l'histoire et la culture des plats !</p>
        <% end %>
      </div>
      <div>
        <h2>Personnes présentes</h2>
        <% @participants.each do |participant| %>
          <% if participant.photo.attached? && @meal.date.to_date > Date.today %>
            <%= image_tag url_for(participant.photo), alt: "Photo de #{participant.first_name} #{participant.last_name}", class: "img-hote" %>
          <% else %>
            <%= image_tag 'user_default.png', alt: "Photo de #{participant.first_name} #{participant.last_name}", class: "img-hote marg-element" %>
          <% end %>
        <% end %>
      </div>
      <div class="section-localisation">
        <h2>Localisation</h2>
        <div>
        <!-- Map -->
        <div style="width: 100%; height: 400px; border-radius:20px;"
              data-controller="map"
              data-map-marker-value="<%= @marker.to_json %>"
              data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
    </div>
  <% end %>
</div>
