<div class="page-quiz">
  <div class="quiz-header">
    <div class="header-ariane-quiz">
      <% if @dish_index > 0 %>
        <%= link_to view_quiz_path(@meal.id, dish_id: @dish_index - 1) do %>
          <i class="fa-solid fa-arrow-right fa-rotate-180 return"></i>
        <% end %>
      <% else %>
        <%= link_to dashboard_path(section: 'organiser')  do %>
          <i class="fa-solid fa-arrow-right fa-rotate-180 return"></i>
        <% end %>
      <% end %>
    </div>
  </div>

   <% if @meal.dishes.any? %>
      <div class="banner no-border">
    <div class="banner-photo">
    <%= image_tag 'rejoindre-repas.webp', alt: "Photo", class: "img-banner" %>
    <div class="banner-text">
      <h2 class="h2-banner text-center">Quiz sur<br><%= @dish.name %></h2>
    </div>
  </div>
</div>

      <div class="quiz-container" id="quiz-container">
        <% if @questions.any? %>
          <% @questions.each do |question| %>
            <div class="quiz-component">
              <p class="quiz-question p-bold"><%= question.question %></p>
              <div class="quiz-reponses">
                <% question.options_answers.split(';').each do |option| %>
                  <p class="p-bold quiz-reponse <%= 'correct-answer' if option.strip == question.answer %>">
                    <%= option.strip %>
                  </p>
                <% end %>
              </div>
            </div>
          <% end %>

          <div class="quiz-buttons">
            <% if @dish_index + 1 < @meal.dishes.count %>
              <%= link_to 'Plat suivant', view_quiz_path(@meal.id, dish_id: @dish_index + 1), class: 'button btn-one' %>
            <% else %>
              <br>
              <%= link_to 'Quitter le quiz', dashboard_path(section: 'organiser') , class: 'button btn-one' %>
            <% end %>
          </div>

          <% if @dish_index > 0 %>
            <%= link_to 'Plat précédent', view_quiz_path(@meal.id, dish_id: @dish_index - 1), class: 'button btn-line' %>
          <% end %>

        <% else %>
          <div class="loading-container d-flex flex-column justify-content-center align-items-center min-vh-50">
          <%# CLARISSE CE TEXTE EST CACHE PAR LE TRUC QUI TOURNE "fa-solid fa-spinner" EN GENERANT LE QUIZ %>
             <p>Le quiz est en cours de génération.
            <br>Il sera disponible dans votre dashboard dans quelques instants !</p>
            <i class="fa-solid fa-spinner fa-spin fa-2x"></i>
          </div>
        <% end %>
      </div>

    <% else %>
      <p>Aucun plat disponible pour ce repas.</p>
    <% end %>
  </div>
</div>
