<div class="page-facture">
    <div class="header-ariane">
      <%= link_to meal_path(@booking.meal) do%>
    <i class="fa-solid fa-arrow-right fa-rotate-180 return"></i>
    <%end%>
    <p class="p-light">Confirmation</p>
  </div>
   <div class="banner no-border">
    <div class="banner-photo">
    <%= cl_image_tag @booking.meal.photo.key, alt: "Photo", class: "img-banner", style:"object-position:center;" %>
    <div class="banner-text">
      <h2 class="h2-banner text-center"><%= current_user.first_name %>, vous êtes sur le point de réserver votre place</h2>
    </div>
  </div>
</div>
  <div class="facturation-confirmation">
    <h3>Récapitulatif pour <strong><%= @booking.meal.title %></strong></h3>
    <div class="facturation-texts" style="margin-top:20px;">
      <div class="info-facture">
      <p class="p-bold">📅 <%= @booking.meal.date %></p>
      <p class="p-bold"><i class="fa-solid fa-location-dot" style="color:red;"></i> <%= @booking.meal.location %></p>
      </div>
    </div>
    <div class="factures">
      <h3>Facture</h3>
      <div class="text-facture">
        <p class="p-facture">Prix</p>
        <p class="p-facture"><%= @booking.meal.price_per_person %>€</p>
      </div>
      <div class="text-facture">
        <p class="p-facture">Frais de service</p>
        <p class="p-facture">3€</p>
      </div>
      <div class="line"></div>
      <div class="text-facture">
        <p class="p-facture">Total</p>
        <p class="p-facture"><%= @booking.meal.price_per_person + 3 %>€</p>
      </div>
    </div>
  </div>
  <div class="button-facture">
  <%= simple_form_for [@meal, @booking], url: meal_bookings_path do |form| %>
    <%= form.submit "Confirmer ma venue", class:"button btn-one"%>
  <% end %>
  </div>
</div>
