  <div class="navbar-simple fixed">
    <%=link_to root_path do%>
    <i class="fa-solid fa-house nav-icon"></i>
    <% end %>
    <%=link_to root_path do%>
    <i class="fa-solid fa-map nav-icon"></i>
    <% end %>
    <%=link_to new_meal_path do%>
    <i class="fa-solid fa-plus nav-icon more-icon"></i>
    <% end %>
    <%=link_to root_path do%>
    <i class="fa-solid fa-calendar nav-icon"></i>
    <% end %>
    <%=link_to root_path do%>
    <i class="fa-solid fa-user nav-icon"></i>
    <% end %>
  </div>
