<div class="d-flex justify-content-center">
  <%= image_tag "Logo.png", alt: "logo-taste_explorers", width: 200 %>
</div>

<div class="form-home" style="width: 308px; margin:auto;">
  <div class="container">
    <div class="button-container-action d-flex flex-column align-items-center">
      <h1 style="margin-top:20px;">Bienvenue <%= current_user.first_name if current_user %> !</h1>

      <div class="btn-group-vertical" role="group" aria-label="Actions">
        <div class="repas">
          <%= link_to raw("<i class='fas fa-search me-2'></i> Chercher un repas"), home_path, style: "display: block; margin: 1rem auto; padding: 0.5rem 1rem; background-color: #ff4500; color: white; border: none; border-radius: 12px; text-align: center;" %>
          <%= link_to raw("<i class='fas fa-utensils me-2'></i> Organiser un repas"), new_meal_path, style: "display: block; margin: 1rem auto; padding: 0.5rem 1rem; background-color: #ff4500; color: white; border: none; border-radius: 12px; text-align: center;" %>
        </div>
      </div>
    </div>

    <p class="tagline">Plongez dans les saveurs locales et du monde autour de chez vous !</p>

    <!--
    <p class="mt-4">
      "La cuisine est l'art de transformer des ingrédients simples en des moments inoubliables."
    </p>
    -->

    <div class="card-nomeal">
      <%= image_tag 'rejoindre-repas.webp', alt: "Photo du repas", class: "card-nomeal-img-home" %>
    </div>


  </div>
</div>
