<h1>Welcome to Taste Explorer</h1>
<%= link_to "Se connecter", new_user_session_path %> / <%= link_to "Se déconnecter", destroy_user_session_path %>
<br>
<%= link_to "Voir tous les repas", meals_path %> / <%= link_to "Proposer un dîner", new_meal_path %>
<br>
<%= link_to "Voir mes 3 propositions de repas", proposals_meals_path %>
