<div class="container">
  <div class="content-home">
    <div class="d-flex justify-content-center">
      <%= image_tag "Logo.png", alt: "logo-taste_explorers", width: 200 %>
    </div>
    <h1>Bienvenue sur Taste Explorers ! </h1>
    <div class="input d-flex align-items-center justify-content-between">
      <div>Rechercher une adresse</div>
      <i class="fa-solid fa-magnifying-glass"></i>
    </div>
  </div>
  <div class="button btn-one">Valider</div>
</div>

<%= link_to "Se connecter", new_user_session_path %> / <%= link_to "Se déconnecter", destroy_user_session_path %>
<br>
<%= link_to "Voir tous les repas", meals_path %> / <%= link_to "Proposer un dîner", new_meal_path %>
<br>
<%= link_to "Voir mes 3 propositions de repas", proposals_meals_path %>
