

  <div class="banner-confirmation no-border" style="margin-bottom:20px;">
    <h2 class="text-center">J'organise un repas</h2>
  </div>

<%= simple_form_for @meal do |f| %>
  <%= f.input :title, label: false, placeholder: "Titre" %>
  <%= f.input :description, label: false, placeholder: "Description" %>
  <p class="p-conditions" style="margin:10px">Ne donnez pas trop d'informations à vos futurs convives 😉</p>

  <label style="margin-top:20px; margin-bottom:10px;">Inspiration</label>
  <div class="category-wrapper">
    <% [
      ['🇮🇹 Italie', 'Italie'],
      ['🇮🇳 Indien', 'Indien'],
      ['🇫🇷 Breton', 'Breton'],
      ['🇬🇷 Grec', 'Grec'],
      ['🇹🇭 Thaï', 'Thaï'],
      ['Autre', 'Autre']
    ].each do |label, value| %>
      <div class="category-item">
        <%= f.radio_button :inspiration, value, id: "inspiration_#{value.downcase}", class: 'category-selector' %>
        <label for="inspiration_<%= value.downcase %>" class="category-label"><%= label %></label>
      </div>
    <% end %>
  </div>

  <!-- Conteneur pour la date et l'heure sur la même ligne -->
  <label style="margin-top:20px; margin-bottom:10px;">Date et heure</label>
  <div class="d-flex gap-3 mb-3">
    <div class="flex-fill">
      <%= f.input :date,
          as: :string,
          input_html: { data: { controller: "datepicker-norange" }, class: "form-control" },
          label: false,
          placeholder: "Sélectionnez une date"
      %>
    </div>
    <div class="flex-fill">
      <%= f.input :heure,
          as: :time,
          label: false,
          default: { hour: 19, min: 30 },
          input_html: { class: "form-control" }
      %>
    </div>
  </div>

  <%= f.input :duration, label: false, placeholder: "Durée estimée (en heures)" %>

  <label style="margin-top:20px; margin-bottom:10px;">Détails supplémentaires</label>
  <%= f.input :location, label: false,
              input_html: {
                data: { address_autocomplete_target: "address" },
                class: "d-none input-with-icon location-icon"
              },
              wrapper_html: {
                data: { controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"] }
              },
              placeholder: "Entrez une adresse" %>

  <!-- Section pour les champs côte à côte -->
  <div class="d-flex gap-3 mb-3">
    <%= f.input :price_per_person, label: false, placeholder: "Prix / pers." %>
    <%= f.input :maximum_guests, label: false, placeholder: "Nb d'invités max" %>
  </div>

  <div class="photo-upload-container">
  <%= f.label :photo, class: "photo-upload-label" do %>
    <i class="fas fa-camera photo-icon"></i>
    <span>Ajouter une photo</span>
    <%= f.input :photo, as: :file, label: false, input_html: { class: 'd-none', accept: 'image/*' } %>
  <% end %>
  <p class="p-conditions">Ne mettez pas une photo de vos plats, uniquement de l'inspiration</p>
</div>



  <div class="d-flex justify-content-center">
    <%= f.button :submit, "Organiser mon repas", class: "button btn-one" %>
  </div>
<% end %>
