<h1>Proposer un repas</h1>
<%= simple_form_for @meal do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :inspiration %>
  <%= f.input :date, as: :string, input_html: { data: { controller: "datepicker-norange" } } %>
  <%= f.input :heure %>
  <%= f.input :duration %>
  <%= f.input :location,
              input_html: { data: { address_autocomplete_target: "address" }, class: "d-none" },
              wrapper_html: { data: { controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"] } },
              label: "Où habitez-vous ?",
              placeholder: "Entrez une adresse" %>
  <%= f.input :price_per_person %>
  <%= f.input :maximum_guests %>
  <%= f.input :photo, as: :file %>
  <div class="d-flex justify-content-center">
  <%= f.button :submit, value: "Proposer mon repas", class: "button btn-one" %>
  </div>
<% end %>
