<h1>A propos de ce repas</h1>




<ul>
  <li>Titre: <%= @meal.title %></li>
  <li>Description: <%= @meal.description %></li>
</ul>


<% if @meal.photo.attached? %>
  <%= cl_image_tag @meal.photo.key, height: 400, width: 600, crop: :fill, class: 'd-block w-100', style: 'object-fit: cover; border-radius: 15px;' %>
<% else %>
  <p>No picture available for this meal.</p>
<% end %>





















<% if @meal.questions_exist? %>
  <%= link_to "Generate quiz", "#",
      class: "btn btn-primary disabled",
      aria_disabled: "true" %>
<% else %>
  <%= link_to "Generate quiz", generate_quiz_path(@meal.id),
      data: { turbo_method: :post },
      class: "btn btn-primary" %>
<% end %>
